@import "tailwindcss";
@plugin "@tailwindcss/typography";

html, body {
  background-color: #0a0a0a;
  overflow-x: hidden;
  width: 100%;
}

@keyframes glitch-anim-1 {
  0% { clip-path: inset(50% 0 30% 0); transform: translate(-5px, 0); opacity: 0.7; }
  20% { clip-path: inset(10% 0 60% 0); transform: translate(5px, 0); opacity: 0.7;}
  40% { clip-path: inset(40% 0 40% 0); transform: translate(-5px, 0); opacity: 0.7;}
  60% { clip-path: inset(80% 0 5% 0); transform: translate(5px, 0); opacity: 0.7;}
  80% { clip-path: inset(0% 0 100% 0); transform: translate(-5px, 0); opacity: 0.7;}
  100% { clip-path: inset(50% 0 30% 0); transform: translate(0, 0); opacity: 0.7;}
}

@keyframes glitch-anim-2 {
  0% { clip-path: inset(10% 0 60% 0); transform: translate(5px, 0); opacity: 0.7;}
  20% { clip-path: inset(30% 0 20% 0); transform: translate(-5px, 0); opacity: 0.7;}
  40% { clip-path: inset(10% 0 80% 0); transform: translate(5px, 0); opacity: 0.7;}
  60% { clip-path: inset(40% 0 10% 0); transform: translate(-5px, 0); opacity: 0.7;}
  80% { clip-path: inset(80% 0 5% 0); transform: translate(5px, 0); opacity: 0.7;}
  100% { clip-path: inset(10% 0 60% 0); transform: translate(0, 0); opacity: 0.7;}
}

.animate-glitch-1 {
  animation: glitch-anim-1 0.2s linear infinite alternate-reverse;
}
.animate-glitch-2 {
  animation: glitch-anim-2 0.2s linear infinite alternate-reverse;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #262626 #0a0a0a;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: #0a0a0a; 
}

::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 4px;
}